language: node_js
env:
  global:
    - CC_TEST_REPORTER_ID=$CC_TEST_TOKEN
node_js:
  - "node"
cache:
  directories:
  - node_modules
# codeclimate tool prep
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run lint
  - npm run test:coverage
  - npm run build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - cp -r .circleci ./dist/.circleci
notifications:
  email:
    recipients:
    - superfastblitzmann@gmail.com
    on_success: change
    on_failure: always
deploy:
  provider: pages
  local_dir: ./dist
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  on:
    branch: master
